body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #4b0082; /* Violet */
    color: white;
    padding: 20px;
    text-align: center;
}
section {
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2, h3 {
    color: #4b0082; /* Violet */
}
p {
    color: #333;
}
label {
    font-weight: bold;
    color: #4b0082; /* Violet */
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #4b0082; /* Violet */
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #4b0082; /* Violet */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #3a005b; /* Couleur plus foncée */
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}